<h2>Sign up</h2>

<%= link_to "Sign Up", signup_api_sessions_path(email: 'shweta@gmail.com', password: 'password', password_confirmation: 'password'), method: :post%>


<%#= render "devise/shared/links" %>
